/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page-header {
  background-color: #fff;
  padding: 20px;
  padding-right: 40px;
  width: 100%;
  height: 210px;
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

body {
  background-image: url("https://live.staticflickr.com/65535/51789895915_02448beeda_h.jpg");
  background-color: #fff;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.main__text {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.home__text {
  max-width: 625px;
  margin: 0 auto;
  text-align: center;
}

.about__text {
  max-width: 625px;
  margin: 0 auto;
  text-align: justify;
}

h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 60px;
  text-align: center;
}

.title {
  color: #099;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 32px;
  color: #009999;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 25px;
}

h4 {
  font-family: "Bebas Neue", cursive;
  font-size: 28px;
  margin-bottom: 18px;
  margin-top: 18px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-top: 3px;
}

span {
  color: #009999;
}

.profile__portrait {
  float: left;
  padding-right: 20px;
  width: 250px;
  height: 275px;
  margin-bottom: 20px;
  margin-top: 10px;
}

#button {
  border: none;
  display: inline-block;
  background-color: #fc0;
  color: #003333;
  text-decoration: none;
  padding: 10px;
  margin: 5px;
  border-radius: 3px;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

#button:hover {
  cursor: pointer;
  opacity: 0.8;
  background-color: #fff299;
}

#button:focus {
  cursor: pointer;
  opacity: 0.8;
  background-color: #fff299;
}

a {
  color: #009999;
}

a:visited {
  color: #006666;
}

a:hover {
  text-decoration: none;
  color: #357b70;
}

a:focus {
  text-decoration: none;
  color: #357b70;
}

.navigation-list__item--active {
  text-decoration: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 35px;
}

.portfolio-image{
  max-width: 260px;
  height: 190px;
  margin-bottom: 15px;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 20px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
}

.grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.grid > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.grid > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.grid > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.grid__item {
  background-color: #70dbdb;
  width: 33%;
  min-height: auto;
  width: auto;
  margin: 0;
  padding: 10px;
  height: 500px;
  color: #006666;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

